extends ./base/layout.pug

block content
    main#app.container
        h2 {{ nombre + ' ' + apellido | capitalize }}
        h2(v-if="!auth") Heading
        a(v-bind:href="dirrecion", @click="accion", target="_blanck") enlance
